/*.navbar{
	background-color: #03A9F4;

}*/
* {
    font-family: 'Mukta', sans-serif;
}

body {
    margin: 0;
    font-size: 28px;
    font-family: 'Mukta', sans-serif;
}

.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    width: 100%;
}

.dropdown-menu {
    background-color: #B70E0E;
}

#navbar {

    background-color: #B70E0E;
    z-index: 1;

}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #DD5A5A;
    color: black;
}

#navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    /*box-shadow: 0px 5px 10px 0px #6D6D6D;*/
}

.sticky + .content {

    padding-top: 60px;
    margin-top: 12px;

}

.content {
    position: relative;
    background-color: #f1f1f1;
    padding: 10px;
    display: table;
}

.col {
    display: table-cell;
}

.left-col {
    background-color: white;

    padding: 5px;

}

.breakingnews a {
    text-decoration: none;
    color: black;
}

.all-news {
    background-color: #FCFADF;
    margin-right: 20px;
    width: 100%;
    padding: 5px;

}

.all-news a {
    color: black;

}

.single-news {
    margin-bottom: 15px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
    max-height: 100px;
    font-size: 0.9em;
}

.see-more {
    width: 100%;
    height: 2em;
    background-color: #17DEF0;
}

.add {
    width: 100%;
    height: 300px;
    border: 1px solid #AED0D3;

}

.editorial-news {
    background-color: white;
    margin-right: 20px;
    width: 100%;
    padding: 5px;

}

.editorial-news a {
    color: black;

}

/*detail news page*/
/*detail news page*/
/*detail news page*/
/*detail news page*/
/*detail news page*/
/*detail news page*/
/*detail news page*/

.path {
    margin-bottom: 20px;
}

.news-detail {
    padding: 10px;
}

.heading {
    font-size: 2em;
}

.news {
    padding: 10px;
    text-align: justify;
}

.share {
    display: inline;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;

}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.image img {
    width: 100%;
}

.most-read-news {
    margin-top: 10px;
    padding: 5px;
    background-color: #E7EFF2;
}

.most-read-news a {
    color: black;
}

.related-news, .news-category {

    color: black;
    box-shadow: none;
}

.news-category-1 {

    margin: 15px;
    color: black;
    box-shadow: none;
}

.news-category-2 {
    color: black;
    box-shadow: none;
}

.related-news:hover {
    box-shadow: none;
}

.news-category {
    box-shadow: none;
}

newssss:hover {
    transition: all 0.4s ease-in-out;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
    transition: all 0.4s ease-in-out;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}

.card a {
    color: black;
}

.card a:hover {
    color: #474747;
    text-decoration: none;
}

/*politics
politics*/

.top-news {
    background-color: #FCFADF;
    margin-top: 20px;
    padding: 10px;
    width: 100%;

}

.top-news a {
    color: black;
}

.prevnext {
}

.right {
    color: white;
    float: right;
    align-self: right;
}

.newss {

    margin: 15px;
    color: black;
}

/*Gallary*/
/*Gallary*/
/*Gallary*/

.view {
    position: relative;
    overflow: hidden;
    cursor: default;
}

.view .mask {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.view img {
    display: block;
}

.view .full-bg-img {
    height: 100%;
}

.zoom img, .zoom video {
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.zoom:hover img {

    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);

}

.rgba-black-slight,
.rgba-black-slight:after {
    background-color: rgba(0, 0, 0, 0.1);
}

.mask {
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

/*.mask:hover {
    opacity: 1; }*/

.flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.imagess:hover {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;

    -webkit-filter: brightness(70%);
    transition: 0.6s ease;

}

.white-text {
    color: #fff;
    font-weight: bolder;
    text-shadow: 0px 0px 10px #000;
}

.foot {
    color: white;
    width: 100%;
    background-color: #922B21;
}

.poweredby {
    background-color: #641E16;

}

.card-header {
    font-weight: bolder;
    text-align: center;
}

.card-foot {
    position: static;
    margin-top: 100px;
    color: white;
}

ul {
    list-style-type: none;
}

.lolo {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);

}

.new-content {
    margin-top: 15px;
    background-color: white;
    padding: 20px;
}

.content1 {
    border-bottom: 1px solid #D3D3D3;
}

.content2 {
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;

}

.content3 {
    border-bottom: 1px solid #D3D3D3;

}

.title4 {
    font-size: 1.1em;
    font-weight: bold;
}

.title5 {

    font-size: 0.9em;
    font-family: 'Mukta', sans-serif;
}

@media only screen and (max-width: 800px) {

    .title4 {
        font-size: 1em;
        font-weight: bold;
    }

    .title5 {
        font-size: 0.8em;
        font-family: 'Mukta', sans-serif;
    }
}

.body-content {
    padding-top: 15px;
    float: right;
}

.body-text {
    margin-top: 10px;
    color: #898989;
    font-family: 'Mukta', sans-serif;
}

.image {
    max-height: 90px;
    width: 90px;
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: -10px;
}

.btn-new {
    background-color: #15B8AC;
}

body {
    font-family: 'Mukta', sans-serif !important;
}

.content-new {
    background-color: white;
}

.border-lr {
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
}

.images {
    float: left;
    padding-right: 15px;

}

.border-t {
    border-top: 3px solid #154360;
}

.topic {
    color: white;
    background-color: #154360;
    height: 30px;
    width: 80px;
}

.topic1 {
    color: white;
    background-color: #154360;
    height: 30px;
    width: 80px;
}

.topicmore {
    color: white;
    background-color: #FF8F00;
    height: 30px;
    width: 80px;

}

.border-b {
    border-bottom: 3px solid #FF8F00;
}

.cover {
    object-fit: cover;
}

#searchhover > a:hover {
    background-color: #0aa69c;
}

.form ul {
    list-style: none;
}

.title {
    font-weight: bold;
    color: red;
}

#myBtn {

    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #3ACACE;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

#myBtn:hover {
    background-color: #555;
}

.scrollup {
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
}

.powered-image {
    width: 70px;
}

@media screen and(max-width: 350px) {
    .foot {
        width: 100%;

    }
}

.active {
    color: #000;
    background: #d65c14;
}

.social-site {
    list-style: none;
    margin:5px;
    padding:0px;

}

/*.social-site li {*/
    /*display: inline-block;*/


/*}*/

.detail-content {

    padding-left: 50px;
    padding-right: 50px;
}

.wrapp {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.row1 {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-gap: 10px;
}

.row2 {
    display: grid;
    grid-template-columns: 5fr 7fr;
}

@media only screen and (max-width: 1000px) {

    .detail-content {
        padding-left: 0px;
        padding-right: 0px;
    }

    .head-content {
        text-align: center !important;
    }

    .row1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .row2 {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.card4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

@media only screen and (max-width: 840px) {
    .card4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

}

@media only screen and (max-width: 575px) {
    .row1 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .card4 {
        display: grid;
        grid-template-columns: 1fr;
    }

}

/*.navbar{
	background-color: #03A9F4;

}*/
* {
    font-family: 'Mukta', sans-serif;
}

body {
    margin: 0;
    font-size: 28px;
    font-family: 'Mukta', sans-serif;
}

.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    width: 100%;
}

.dropdown-menu {
    background-color: #B70E0E;
}

#navbar {

    background-color: #B70E0E;
    z-index: 1;

}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #DD5A5A;
    color: black;
}

#navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.sticky {

    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 5px 10px 0px #6D6D6D;
}

.sticky + .content {

    padding-top: 60px;
    margin-top: 12px;
}

.content {
    position: relative;
    background-color: #f1f1f1;
    padding: 10px;
    display: table
}

.col {
    display: table-cell;
}

.left-col {
    background-color: white;

    padding: 5px;

}

.breakingnews a {
    text-decoration: none;
    color: black;
}

.all-news {
    background-color: #FCFADF;
    margin-right: 20px;
    width: 100%;
    padding: 5px;

}

.all-news a {
    color: black;

}

.single-news {
    margin-bottom: 15px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
    max-height: 100px;
    font-size: 0.9em;
}

.see-more {
    width: 100%;
    height: 2em;
    background-color: #17DEF0;
}

.add {
    width: 100%;
    height: 300px;
    border: 1px solid #AED0D3;

}

.editorial-news {
    background-color: white;
    margin-right: 20px;
    width: 100%;
    padding: 5px;

}

.editorial-news a {
    color: black;

}

/*detail news page*/
/*detail news page*/
/*detail news page*/
/*detail news page*/
/*detail news page*/
/*detail news page*/
/*detail news page*/

.path {
    margin-bottom: 20px;
}

.news-detail {
    padding: 10px;
}

.heading {
    font-size: 2em;
}

.news {
    padding: 10px;
    text-align: justify;
}

.share {
    display: inline;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;

}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.image img {
    width: 100%;
}

.most-read-news {
    margin-top: 10px;
    padding: 5px;
    background-color: #E7EFF2;
}

.most-read-news a {
    color: black;
}

.related-news, .news-category {

    color: black;
    box-shadow: none;
}

.news-category-1 {

    margin: 15px;
    color: black;
    box-shadow: none;
}

.news-category-2 {
    color: black;
    box-shadow: none;
}

.related-news:hover {
    box-shadow: none;
}

.news-category {
    box-shadow: none;
}

newssss:hover {
    transition: all 0.4s ease-in-out;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
    transition: all 0.4s ease-in-out;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}

.card a {
    color: black;
}

.card a:hover {
    color: #474747;
    text-decoration: none;
}

/*politics
politics*/

.top-news {
    background-color: #FCFADF;
    margin-top: 20px;
    padding: 10px;
    width: 100%;

}

.top-news a {
    color: black;
}

.prevnext {
}

.right {
    color: white;
    float: right;
    align-self: right;
}

.newss {

    margin: 15px;
    color: black;
}

/*Gallary*/
/*Gallary*/
/*Gallary*/

.view {
    position: relative;
    overflow: hidden;
    cursor: default;
}

.view .mask {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.view img {
    display: block;
}

.view .full-bg-img {
    height: 100%;
}

.zoom img, .zoom video {
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.zoom:hover img {

    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);

}

.rgba-black-slight,
.rgba-black-slight:after {
    background-color: rgba(0, 0, 0, 0.1);
}

.mask {
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

/*.mask:hover {
    opacity: 1; }*/

.flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.imagess:hover {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;

    -webkit-filter: brightness(70%);
    transition: 0.6s ease;

}

.white-text {
    color: #fff;
    font-weight: bolder;
    text-shadow: 0px 0px 10px #000;
}

.foot {
    color: white;
    width: 100%;
    background-color: #922B21;
}

.poweredby {
    background-color: #641E16;

}

.card-header {
    font-weight: bolder;
    text-align: center;
}

.card-foot {
    position: static;
    margin-top: 100px;
    color: white;
}

ul {
    list-style-type: none;
}

.lolo {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);

}

.new-content {
    margin-top: 15px;
    background-color: white;
    padding: 20px;
}

.content1 {
    border-bottom: 1px solid #D3D3D3;
}

.content2 {
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;

}

.content3 {
    border-bottom: 1px solid #D3D3D3;

}

.title4 {
    font-size: 1.1em;
    font-weight: bold;
}

.title5 {

    font-size: 0.9em;
    font-family: 'Mukta', sans-serif;
}

@media only screen and (max-width: 800px) {

    .title4 {
        font-size: 1em;
        font-weight: bold;
    }

    .title5 {
        font-size: 0.8em;
        font-family: 'Mukta', sans-serif;
    }
}

.body-content {
    padding-top: 15px;
    float: right;
}

.body-text {
    margin-top: 10px;
    color: #898989;
    font-family: 'Mukta', sans-serif;
}

.image {
    max-height: 90px;
    width: 90px;
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: -10px;
}

.btn-new {
    background-color: #15B8AC;
}

body {
    font-family: 'Mukta', sans-serif !important;
}

.content-new {
    background-color: white;
}

.border-lr {
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
}

.images {
    float: left;
    padding-right: 15px;

}

.border-t {
    border-top: 3px solid #154360;
}

.topic {
    color: white;
    background-color: #154360;
    height: 30px;
    width: 80px;
}

.topic1 {
    color: white;
    background-color: #154360;
    height: 30px;
    width: 80px;
}

.topicmore {
    color: white;
    background-color: #FF8F00;
    height: 30px;
    width: 80px;

}

.border-b {
    border-bottom: 3px solid #FF8F00;
}

.cover {
    object-fit: cover;
}

#searchhover > a:hover {
    background-color: #0aa69c;
}

.form ul {
    list-style: none;
}

.title {
    font-weight: bold;
    color: red;
}

#myBtn {

    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #3ACACE;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

#myBtn:hover {
    background-color: #555;
}

.scrollup {
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
}

.powered-image {
    width: 70px;
}

@media screen and(max-width: 350px) {
    .foot {
        width: 100%;

    }
}

.active {
    color: #000;
    background: #d65c14;
}

.social-site {
    list-style: none;
}

.social-site li {
    display: inline-block;

}

.detail-content {

    padding-left: 50px;
    padding-right: 50px;
}

.wrapp {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.row1 {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-gap: 10px;
}

.row2 {
    display: grid;
    grid-template-columns: 5fr 7fr;
}

@media only screen and (max-width: 1000px) {

    .detail-content {
        padding-left: 0px;
        padding-right: 0px;
    }

    .head-content {
        text-align: center !important;
    }

    .row1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .row2 {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.card4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

@media only screen and (max-width: 840px) {
    .card4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

}

@media only screen and (max-width: 575px) {
    .row1 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .card4 {
        display: grid;
        grid-template-columns: 1fr;
    }

}

/*.navbar{
	background-color: #03A9F4;

}*/
* {
    font-family: 'Mukta', sans-serif;
}

body {
    margin: 0;
    font-size: 28px;
    font-family: 'Mukta', sans-serif;
}

.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    width: 100%;
}

.dropdown-menu {
    background-color: #B70E0E;
}

#navbar {

    background-color: #B70E0E;
    z-index: 1;

}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #DD5A5A;
    color: black;
}

#navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.sticky {

    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 5px 10px 0px #6D6D6D;
}

.sticky + .content {

    padding-top: 60px;
    margin-top: 12px;
}

.content {
    position: relative;
    background-color: #f1f1f1;
    padding: 10px;
    display: table
}

.col {
    display: table-cell;
}

.left-col {
    background-color: white;

    padding: 5px;

}

.breakingnews a {
    text-decoration: none;
    color: black;
}

.all-news {
    background-color: #FCFADF;
    margin-right: 20px;
    width: 100%;
    padding: 5px;

}

.all-news a {
    color: black;

}

.single-news {
    margin-bottom: 15px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
    max-height: 100px;
    font-size: 0.9em;
}

.see-more {
    width: 100%;
    height: 2em;
    background-color: #17DEF0;
}

.add {
    width: 100%;
    height: 300px;
    border: 1px solid #AED0D3;

}

.editorial-news {
    background-color: white;
    margin-right: 20px;
    width: 100%;
    padding: 5px;

}

.editorial-news a {
    color: black;

}

/*detail news page*/
/*detail news page*/
/*detail news page*/
/*detail news page*/
/*detail news page*/
/*detail news page*/
/*detail news page*/

.path {
    margin-bottom: 20px;
}

.news-detail {
    padding: 10px;
}

.heading {
    font-size: 2em;
}

.news {
    padding: 10px;
    text-align: justify;
}

.share {
    display: inline;

}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;

}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.image img {
    width: 100%;
}

.most-read-news {
    margin-top: 10px;
    padding: 5px;
    background-color: #E7EFF2;
}

.most-read-news a {
    color: black;
}

.related-news, .news-category {

    color: black;
    box-shadow: none;
}

.news-category-1 {

    margin: 15px;
    color: black;
    box-shadow: none;
}

.news-category-2 {
    color: black;
    box-shadow: none;
}

.related-news:hover {
    box-shadow: none;
}

.news-category {
    box-shadow: none;
}

newssss:hover {
    transition: all 0.4s ease-in-out;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
    transition: all 0.4s ease-in-out;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}

.card a {
    color: black;
}

.card a:hover {
    color: #474747;
    text-decoration: none;
}

/*politics
politics*/

.top-news {
    background-color: #FCFADF;
    margin-top: 20px;
    padding: 10px;
    width: 100%;

}

.top-news a {
    color: black;
}

.prevnext {
}

.right {
    color: white;
    float: right;
    align-self: right;
}

.newss {

    margin: 15px;
    color: black;
}

/*Gallary*/
/*Gallary*/
/*Gallary*/

.view {
    position: relative;
    overflow: hidden;
    cursor: default;
}

.view .mask {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.view img {
    display: block;
}

.view .full-bg-img {
    height: 100%;
}

.zoom img, .zoom video {
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.zoom:hover img {

    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);

}

.rgba-black-slight,
.rgba-black-slight:after {
    background-color: rgba(0, 0, 0, 0.1);
}

.mask {
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

/*.mask:hover {
    opacity: 1; }*/

.flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.imagess:hover {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;

    -webkit-filter: brightness(70%);
    transition: 0.6s ease;

}

.white-text {
    color: #fff;
    font-weight: bolder;
    text-shadow: 0px 0px 10px #000;
}

.foot {
    color: white;
    width: 100%;
    background-color: #922B21;
}

.poweredby {
    background-color: #641E16;

}

.card-header {
    font-weight: bolder;
    text-align: center;
}

.card-foot {
    position: static;
    margin-top: 100px;
    color: white;
}

ul {
    list-style-type: none;
}

.lolo {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);

}

.new-content {
    margin-top: 15px;
    background-color: white;
    padding: 20px;
}

.content1 {
    border-bottom: 1px solid #D3D3D3;
}

.content2 {
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;

}

.content3 {
    border-bottom: 1px solid #D3D3D3;

}

.title4 {
    font-size: 1.1em;
    font-weight: bold;
}

.title5 {

    font-size: 0.9em;
    font-family: 'Mukta', sans-serif;
}

@media only screen and (max-width: 800px) {

    .title4 {
        font-size: 1em;
        font-weight: bold;
    }

    .title5 {
        font-size: 0.8em;
        font-family: 'Mukta', sans-serif;
    }
}

.body-content {
    padding-top: 15px;
    float: right;
}

.body-text {
    margin-top: 10px;
    color: #898989;
    font-family: 'Mukta', sans-serif;
}

.image {
    max-height: 90px;
    width: 90px;
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: -10px;
}

.btn-new {
    background-color: #15B8AC;
}

body {
    font-family: 'Mukta', sans-serif !important;
}

.content-new {
    background-color: white;
}

.border-lr {
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
}

.images {
    float: left;
    padding-right: 15px;

}

.border-t {
    border-top: 3px solid #154360;
}

.topic {
    color: white;
    background-color: #154360;
    height: 30px;
    width: 80px;
}

.topic1 {
    color: white;
    background-color: #154360;
    height: 30px;
    width: 80px;
}

.topicmore {
    color: white;
    background-color: #FF8F00;
    height: 30px;
    width: 80px;

}

.border-b {
    border-bottom: 3px solid #FF8F00;
}

.cover {
    object-fit: cover;
}

#searchhover > a:hover {
    background-color: #0aa69c;
}

.form ul {
    list-style: none;
}

.title {
    font-weight: bold;
    color: red;
}

#myBtn {

    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #3ACACE;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

#myBtn:hover {
    background-color: #555;
}

.scrollup {
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
}

.powered-image {
    width: 70px;
}

@media screen and(max-width: 350px) {
    .foot {
        width: 100%;

    }
}

.active {
    color: #000;
    background: #d65c14;
}

.social-site {
    list-style: none;
}

.social-site li {
    display: inline-block;

}

.detail-content {

    padding-left: 50px;
    padding-right: 50px;
}

.wrapp {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.row1 {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-gap: 10px;
}

.row2 {
    display: grid;
    grid-template-columns: 5fr 7fr;
}

@media only screen and (max-width: 1000px) {

    .detail-content {
        padding-left: 0px;
        padding-right: 0px;
    }

    .head-content {
        text-align: center !important;
    }

    .row1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .row2 {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.card4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

@media only screen and (max-width: 840px) {
    .card4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

}

@media only screen and (max-width: 575px) {
    .row1 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .card4 {
        display: grid;
        grid-template-columns: 1fr;
    }

}

/*.navbar{
	background-color: #03A9F4;

}*/
* {
    font-family: 'Mukta', sans-serif;
}

body {
    margin: 0;
    font-size: 28px;
    font-family: 'Mukta', sans-serif;
}

.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    width: 100%;
}

.dropdown-menu {
    background-color: #B70E0E;
}

#navbar {

    background-color: #B70E0E;
    z-index: 1;

}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #DD5A5A;
    color: black;
}

#navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.sticky {

    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 5px 10px 0px #6D6D6D;
}

.sticky + .content {

    padding-top: 60px;
    margin-top: 12px;
}

.content {
    position: relative;
    background-color: #f1f1f1;
    padding: 10px;
    display: table
}

.col {
    display: table-cell;
}

.left-col {
    background-color: white;

    padding: 5px;

}

.breakingnews a {
    text-decoration: none;
    color: black;
}

.all-news {
    background-color: #FCFADF;
    margin-right: 20px;
    width: 100%;
    padding: 5px;

}

.all-news a {
    color: black;

}

.single-news {
    margin-bottom: 15px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
    max-height: 100px;
    font-size: 0.9em;
}

.see-more {
    width: 100%;
    height: 2em;
    background-color: #17DEF0;
}

.add {
    width: 100%;
    height: 300px;
    border: 1px solid #AED0D3;

}

.editorial-news {
    background-color: white;
    margin-right: 20px;
    width: 100%;
    padding: 5px;

}

.editorial-news a {
    color: black;

}

/*detail news page*/
/*detail news page*/
/*detail news page*/
/*detail news page*/
/*detail news page*/
/*detail news page*/
/*detail news page*/

.path {
    margin-bottom: 20px;
}

.news-detail {
    padding: 10px;
}

.heading {
    font-size: 2em;
}

.news {
    padding: 10px;
    text-align: justify;
}

.share {
    display: inline;

}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;

}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.image img {
    width: 100%;
}

.most-read-news {
    margin-top: 10px;
    padding: 5px;
    background-color: #E7EFF2;
}

.most-read-news a {
    color: black;
}

.related-news, .news-category {

    color: black;
    box-shadow: none;
}

.news-category-1 {

    margin: 15px;
    color: black;
    box-shadow: none;
}

.news-category-2 {
    color: black;
    box-shadow: none;
}

.related-news:hover {
    box-shadow: none;
}

.news-category {
    box-shadow: none;
}

newssss:hover {
    transition: all 0.4s ease-in-out;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
    transition: all 0.4s ease-in-out;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}

.card a {
    color: black;
}

.card a:hover {
    color: #474747;
    text-decoration: none;
}

/*politics
politics*/

.top-news {
    background-color: #FCFADF;
    margin-top: 20px;
    padding: 10px;
    width: 100%;

}

.top-news a {
    color: black;
}

.prevnext {
}

.right {
    color: white;
    float: right;
    align-self: right;
}

.newss {

    margin: 15px;
    color: black;
}

/*Gallary*/
/*Gallary*/
/*Gallary*/

.view {
    position: relative;
    overflow: hidden;
    cursor: default;
}

.view .mask {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.view img {
    display: block;
}

.view .full-bg-img {
    height: 100%;
}

.zoom img, .zoom video {
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.zoom:hover img {

    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);

}

.rgba-black-slight,
.rgba-black-slight:after {
    background-color: rgba(0, 0, 0, 0.1);
}

.mask {
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

/*.mask:hover {
    opacity: 1; }*/

.flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.imagess:hover {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;

    -webkit-filter: brightness(70%);
    transition: 0.6s ease;

}

.white-text {
    color: #fff;
    font-weight: bolder;
    text-shadow: 0px 0px 10px #000;
}

.foot {
    color: white;
    width: 100%;
    background-color: #922B21;
}

.poweredby {
    background-color: #641E16;

}

.card-header {
    font-weight: bolder;
    text-align: center;
}

.card-foot {
    position: static;
    margin-top: 100px;
    color: white;
}

ul {
    list-style-type: none;
}

.lolo {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);

}

.new-content {
    margin-top: 15px;
    background-color: white;
    padding: 20px;
}

.content1 {
    border-bottom: 1px solid #D3D3D3;
}

.content2 {
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;

}

.content3 {
    border-bottom: 1px solid #D3D3D3;

}

.title4 {
    font-size: 1.1em;
    font-weight: bold;
}

.title5 {

    font-size: 0.9em;
    font-family: 'Mukta', sans-serif;
}

@media only screen and (max-width: 800px) {

    .title4 {
        font-size: 1em;
        font-weight: bold;
    }

    .title5 {
        font-size: 0.8em;
        font-family: 'Mukta', sans-serif;
    }
}

.body-content {
    padding-top: 15px;
    float: right;
}

.body-text {
    margin-top: 10px;
    color: #898989;
    font-family: 'Mukta', sans-serif;
}

.image {
    max-height: 90px;
    width: 90px;
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: -10px;
}

.btn-new {
    background-color: #15B8AC;
}

body {
    font-family: 'Mukta', sans-serif !important;
}

.content-new {
    background-color: white;
}

.border-lr {
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
}

.images {
    float: left;
    padding-right: 15px;

}

.border-t {
    border-top: 3px solid #154360;
}

.topic {
    color: white;
    background-color: #154360;
    height: 30px;
    width: 80px;
}

.topic1 {
    color: white;
    background-color: #154360;
    height: 30px;
    width: 80px;
}

.topicmore {
    color: white;
    background-color: #FF8F00;
    height: 30px;
    width: 80px;

}

.border-b {
    border-bottom: 3px solid #FF8F00;
}

.cover {
    object-fit: cover;
}

#searchhover > a:hover {
    background-color: #0aa69c;
}

.form ul {
    list-style: none;
}

.title {
    font-weight: bold;
    color: red;
}

#myBtn {

    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #3ACACE;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

#myBtn:hover {
    background-color: #555;
}

.scrollup {
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
}

.powered-image {
    width: 70px;
}

@media screen and(max-width: 350px) {
    .foot {
        width: 100%;

    }
}

.active {
    color: #000;
    background: #d65c14;
}

.social-site {
    list-style: none;
}

.social-site li {
    display: inline-block;

}

.detail-content {

    padding-left: 50px;
    padding-right: 50px;
}

.wrapp {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.row1 {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-gap: 10px;
}

.row2 {
    display: grid;
    grid-template-columns: 5fr 7fr;
}

@media only screen and (max-width: 1000px) {

    .detail-content {
        padding-left: 0px;
        padding-right: 0px;
    }

    .head-content {
        text-align: center !important;
    }

    .row1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .row2 {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.card4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

@media only screen and (max-width: 840px) {
    .card4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

}

@media only screen and (max-width: 575px) {
    .row1 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .card4 {
        display: grid;
        grid-template-columns: 1fr;
    }

}

/*.navbar{
	background-color: #03A9F4;

}*/
* {
    font-family: 'Mukta', sans-serif;
}

body {
    margin: 0;
    font-size: 28px;
    font-family: 'Mukta', sans-serif;
}

.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    width: 100%;
}

.dropdown-menu {
    background-color: #B70E0E;
}

#navbar {

    background-color: #B70E0E;
    z-index: 1;

}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #DD5A5A;
    color: black;
}

#navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.sticky {

    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 5px 10px 0px #6D6D6D;
}

.sticky + .content {

    padding-top: 60px;
    margin-top: 12px;
}

.content {
    position: relative;
    background-color: #f1f1f1;
    padding: 10px;
    display: table
}

.col {
    display: table-cell;
}

.left-col {
    background-color: white;

    padding: 5px;

}

.breakingnews a {
    text-decoration: none;
    color: black;
}

.all-news {
    background-color: #FCFADF;
    margin-right: 20px;
    width: 100%;
    padding: 5px;

}

.all-news a {
    color: black;

}

.single-news {
    margin-bottom: 15px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
    max-height: 100px;
    font-size: 0.9em;
}

.see-more {
    width: 100%;
    height: 2em;
    background-color: #17DEF0;
}

.add {
    width: 100%;
    height: 300px;
    border: 1px solid #AED0D3;

}

.editorial-news {
    background-color: white;
    margin-right: 20px;
    width: 100%;
    padding: 5px;

}

.editorial-news a {
    color: black;

}

/*detail news page*/
/*detail news page*/
/*detail news page*/
/*detail news page*/
/*detail news page*/
/*detail news page*/
/*detail news page*/

.path {
    margin-bottom: 20px;
}

.news-detail {
    padding: 10px;
}

.heading {
    font-size: 2em;
}

.news {
    padding: 10px;
    text-align: justify;
}

.share {
    display: inline;

}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;

}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.image img {
    width: 100%;
}

.most-read-news {
    margin-top: 10px;
    padding: 5px;
    background-color: #E7EFF2;
}

.most-read-news a {
    color: black;
}

.related-news, .news-category {

    color: black;
    box-shadow: none;
}

.news-category-1 {

    margin: 15px;
    color: black;
    box-shadow: none;
}

.news-category-2 {
    color: black;
    box-shadow: none;
}

.related-news:hover {
    box-shadow: none;
}

.news-category {
    box-shadow: none;
}

newssss:hover {
    transition: all 0.4s ease-in-out;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
    transition: all 0.4s ease-in-out;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}

.card a {
    color: black;
}

.card a:hover {
    color: #474747;
    text-decoration: none;
}

/*politics
politics*/

.top-news {
    background-color: #FCFADF;
    margin-top: 20px;
    padding: 10px;
    width: 100%;

}

.top-news a {
    color: black;
}

.prevnext {
}

.right {
    color: white;
    float: right;
    align-self: right;
}

.newss {

    margin: 15px;
    color: black;
}

/*Gallary*/
/*Gallary*/
/*Gallary*/

.view {
    position: relative;
    overflow: hidden;
    cursor: default;
}

.view .mask {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.view img {
    display: block;
}

.view .full-bg-img {
    height: 100%;
}

.zoom img, .zoom video {
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.zoom:hover img {

    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);

}

.rgba-black-slight,
.rgba-black-slight:after {
    background-color: rgba(0, 0, 0, 0.1);
}

.mask {
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

/*.mask:hover {
    opacity: 1; }*/

.flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.imagess:hover {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;

    -webkit-filter: brightness(70%);
    transition: 0.6s ease;

}

.white-text {
    color: #fff;
    font-weight: bolder;
    text-shadow: 0px 0px 10px #000;
}

.foot {
    color: white;
    width: 100%;
    background-color: #922B21;
}

.poweredby {
    background-color: #641E16;

}

.card-header {
    font-weight: bolder;
    text-align: center;
}

.card-foot {
    position: static;
    margin-top: 100px;
    color: white;
}

ul {
    list-style-type: none;
}

.lolo {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);

}

.new-content {
    margin-top: 15px;
    background-color: white;
    padding: 20px;
}

.content1 {
    border-bottom: 1px solid #D3D3D3;
}

.content2 {
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;

}

.content3 {
    border-bottom: 1px solid #D3D3D3;

}

.title4 {
    font-size: 1.1em;
    font-weight: bold;
}

.title5 {

    font-size: 0.9em;
    font-family: 'Mukta', sans-serif;
}

@media only screen and (max-width: 800px) {

    .title4 {
        font-size: 1em;
        font-weight: bold;
    }

    .title5 {
        font-size: 0.8em;
        font-family: 'Mukta', sans-serif;
    }
}

.body-content {
    padding-top: 15px;
    float: right;
}

.body-text {
    margin-top: 10px;
    color: #898989;
    font-family: 'Mukta', sans-serif;
}

.image {
    max-height: 90px;
    width: 90px;
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: -10px;
}

.btn-new {
    background-color: #15B8AC;
}

body {
    font-family: 'Mukta', sans-serif !important;
}

.content-new {
    background-color: white;
}

.border-lr {
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
}

.images {
    float: left;
    padding-right: 15px;

}

.border-t {
    border-top: 3px solid #154360;
}

.topic {
    color: white;
    background-color: #154360;
    height: 30px;
    width: 80px;
}

.topic1 {
    color: white;
    background-color: #154360;
    height: 30px;
    width: 80px;
}

.topicmore {
    color: white;
    background-color: #FF8F00;
    height: 30px;
    width: 80px;

}

.border-b {
    border-bottom: 3px solid #FF8F00;
}

.cover {
    object-fit: cover;
}

#searchhover > a:hover {
    background-color: #0aa69c;
}

.form ul {
    list-style: none;
}

.title {
    font-weight: bold;
    color: red;
}

#myBtn {

    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #3ACACE;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

#myBtn:hover {
    background-color: #555;
}

.scrollup {
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
}

.powered-image {
    width: 70px;
}

@media screen and(max-width: 350px) {
    .foot {
        width: 100%;

    }
}

.active {
    color: #000;
    background: #d65c14;
}

.social-site {
    list-style: none;
}

.social-site li {
    display: inline-block;

}

.detail-content {

    padding-left: 50px;
    padding-right: 50px;
}

.wrapp {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.row1 {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-gap: 10px;
}

.row2 {
    display: grid;
    grid-template-columns: 5fr 7fr;
}

@media only screen and (max-width: 1000px) {

    .detail-content {
        padding-left: 0px;
        padding-right: 0px;
    }

    .head-content {
        text-align: center !important;
    }

    .row1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .row2 {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.card4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

#nationalgrid12 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 10px;

}

@media screen and (max-width: 840px) {
    .card4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

}

@media only screen and (max-width: 1000px) {
    #nationalgrid12 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

@media only screen and (max-width: 575px) {
    .row1, #nationalgrid12 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .card4 {
        display: grid;
        grid-template-columns: 1fr;
    }

}

ul#horizontal-list li {
    display: inline;
}

.helloworld a:hover, .nationalcard:hover {
    text-decoration: none;
    -ms-transform: scale(1.02); /* IE 9 */
    -webkit-transform: scale(1.02); /* Safari 3-8 */
    transform: scale(1.02);
    transition: transform 400ms;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;

    padding: 5px 20px;

    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 20px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.card4{
   display:grid;
   grid-template-columns:1fr 1fr 1fr 1fr;
   grid-gap:10px;
}

.carddeck-detail {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-column-gap: 6px;
}


@media only screen and (max-width: 840px){
.card4{
   display:grid;
   grid-template-columns:1fr 1fr;
   grid-gap:10px;
}
    .carddeck-detail {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 4px;
    }

}

@media screen and (max-width: 575px){
    .card4,.carddeck-detail{
   display:grid;
   grid-template-columns:1fr;
        grid-row-gap: 5px;
}



}


